.gameboard img:nth-child(4n+1) {
	clear: left;
}

.gameboard img {
	float: none;
	height: 200px;
	width: 200px;
    margin: 10px;
}

body {
    background-image: url('../img/congruent_outline.png');
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFE0;
    padding: 1em;
}

#gameStats {
    padding: 2em;
    background-color: #5FA480;
    opacity: 0.9;
    border-radius: 30px;
}

#buttonRow {
    padding: 1em;
}

.gameboard {
    padding: 2em;
    background-color: #353058;
    opacity: 0.9;
    float: left;
    margin: 5px;
}

.btn {
    background-color: #4B6D73;
    border-color:#558D98;
}

a {
    font-weight: bold;
    color: #5FA481;
    font-size: 16px;
}

a:focus, a:hover {
    color: #507A5B;
}

.col-sm-12 {
    margin: 0;
}

.header {
    background-color: #8f71b2;
    border-radius: 40px;
    margin: 10px;
}

#gameStats h4{
    text-align: center;
}

#title {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}